body {
    background-color: #eef1eb;
    font: 14px/1.5 "Helvetica neue",Helvetica,Tahoma,"lantinghei sc","Microsoft Yahei",sans-serif;
    color: #515250;
    -webkit-font-smoothing: antialiased;
    /* -webkit-backface-visibility: hidden
 */}
#loader-wrapper {
    background-color: #212220;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 19900207;
    text-align: center;
    -webkit-transition: all .36s linear;
    transition: all .36s linear
}

#loader-wrapper:before,#loader-wrapper #loader {
    display: inline-block;
    vertical-align: middle
}

#loader-wrapper:before {
    content: '';
    height: 100%
}

#loader-wrapper #loader {
    width: 146px;
    height: 146px;
    background: url(../img/smohan_logo_mask.png) 50% no-repeat;
    background-size: cover;
    -webkit-transition: all .36s linear;
    transition: all .36s linear;
    -webkit-animation: loadingInit 1.3s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite;
              animation: loadingInit 1.3s cubic-bezier(0.30, 2.40, 0.85, 2.50) infinite; 
    /*margin-top: -148px*/
}

#loader-wrapper #loader:after {
    width: 100%;
    line-height: 36px;
    content: 'The page is loading...';
    position: absolute;
    left: 0;
    bottom: -36px;
    font-size: 14px;
    text-align: center;
    color: #787977;
    opacity: 0.7;
    -webkit-transition: opacity .36s linear;
    transition: opacity .36s linear;
    -webkit-animation: fadeIn .8s linear 1s 1 forwards;
    animation: fadeIn .8s linear 1s 1 forwards
}

@-webkit-keyframes loadingInit {
    from, to {
    -webkit-transform: translateY(-15vh) scaleY(1.02);
            transform: translateY(-15vh) scaleY(1.02);
    }
    80% {
    -webkit-transform: translateY(-30vh) scaleY(.98);
            transform: translateY(-30vh) scaleY(.98);
    }
}

@keyframes loadingInit {
    from, to {
    -webkit-transform: translateY(-15vh) scaleY(1.02);
            transform: translateY(-15vh) scaleY(1.02);
    }
    80% {
    -webkit-transform: translateY(-30vh) scaleY(.98);
            transform: translateY(-30vh) scaleY(.98);
    }
}

#loader-wrapper.hide {
    opacity: 0;
    visibility: hidden
}